.homepage {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.directory-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.menu-item {
  align-items: center;
  border: 1px solid black;
  display: flex;
  height: 240px;
  flex: 1 1 auto;
  min-width: 30%;
  justify-content: center;
  margin: 0 7.5px 15px;

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .content {
    align-items: center;
    border: 1px solid black;
    display: flex;
    height: 90px;
    padding: 0 25px;
    flex-direction: column;
    justify-content: center;

    .title {
      color: #4a4a4a;
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 800px) {
  .directory-menu {
    margin-top: 20px;
  }
}