.menu-item {
  align-items: center;
  border: 1px solid black;
  display: flex;
  height: 230px;
  flex: 1 1 auto;
  justify-content: center;
  min-width: 30%;
  margin: 0 7.5px 15px;
  overflow: hidden;
}
.menu-item:hover {
  cursor: pointer;
}
.menu-item:hover .background-image {
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.menu-item:hover .content {
  opacity: 0.9;
}
.menu-item.large {
  height: 240px;
}
.menu-item:first-child {
  margin-right: 7.5px;
}
.menu-item:last-child {
  margin-left: 7.5px;
}
.menu-item .background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.menu-item .content {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  height: 70px;
  padding: 0 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.7;
  position: absolute;
}
.menu-item .content .title {
  font-weight: bold;
  margin: 0 6px 0;
  font-size: 18px;
  color: darkgreen;
}
.menu-item .content .subtitle {
  font-weight: bold;
  font-size: 16px;
}
