.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
}
.collection-item .image {
  border-radius: 4px;
  width: 100%;
  height: 95%;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}
.collection-item:hover .image {
  opacity: 0.8;
}
.collection-item .collection-footer {
  display: flex;
  height: 5%;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 5px;
  width: 100%;
}
.collection-item .collection-footer .name {
  width: 90%;
  margin-bottom: 15px;
}
.collection-item .collection-footer .price {
  width: 10%;
}
@media screen and (max-width: 800px) {
  .collection-item {
    width: 40vw;
  }
  .collection-item .collection-footer {
    font-size: 13px;
  }
  .collection-item:hover .image {
    opacity: unset;
  }
}
