.register {
  margin: auto;
  text-align: center;
  width: 35vw;

  // .ui.divider {
  //   width: 90%;
  // }
}

@media screen and (max-width: 800px) {
	.register {
    margin-bottom: 50px;
		width: 80%;
	}
}